<div class="row">
  <div id='chart1'>
    <svg style='height:400px'></svg>
  </div>
</div>

<div class="row">
    <form class="well form-search">
        <div class="span3">
            <input type="text" class="input-medium search-query" ng-model="meterSearch" placeholder="Filter...">
        </div>
        <div class="span3">
            <label class="checkbox">
                <input type="checkbox" name="averageCheckBox" ng-model="averageNodes">
                Combine Nodes
            </label>
        </div>
    </form>
</div>

<div class="row" ng-cloak>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
          <th ng-class="showID()" ng-click="sortBy('machine')" id="machine">
            Node ID <span class="sortArrow">{{sortArrow}}</span>
          </th>
          <th ng-click="sortBy('name')" id="name">
            Meter Name <span class="sortArrow">{{sortArrow}}</span>
          </th>
          <th ng-click="sortBy('count')" id="count">
            Count <span class="sortArrow">{{sortArrow}}</span>
          </th>
          <th ng-click="sortBy('meanRate')" id="meanRate">
            Mean Rate <span class="sortArrow">{{sortArrow}}</span>
          </th>
          <th ng-click="sortBy('oneMinRate')" id="oneMinRate">
            1 Minute Rate <span class="sortArrow">{{sortArrow}}</span>
          </th>
          <th ng-click="sortBy('fiveMinRate')" id="fiveMinRate">
            5 Minute Rate <span class="sortArrow">{{sortArrow}}</span>
          </th>
          <th ng-click="sortBy('fifteenMinRate')" id="fifteenMinRate">
            15 Minute Rate <span class="sortArrow">{{sortArrow}}</span>
          </th>
        </thead>
        <tbody>
            <tr ng-repeat="metric in metrics | filter:meterSearch | orderBy:sortField:sortOrder">
                <td ng-class="showID()">{{metric.machine}}</td>
                <td>{{metric.name}}</td>
                <td>{{metric.count | round:2}}</td>
                <td>{{metric.meanRate | round:2}}<span class="metric-unit">/{{metric.rateUnit | timeunit}}</span></td>
                <td>{{metric.oneMinRate | round:2}}<span class="metric-unit">/{{metric.rateUnit | timeunit}}</span></td>
                <td>{{metric.fiveMinRate | round:2}}<span class="metric-unit">/{{metric.rateUnit | timeunit}}</span></td>
                <td>{{metric.fifteenMinRate | round:2}}<span class="metric-unit">/{{metric.rateUnit | timeunit}}</span></td>
            </tr>
        </tbody>
    </table>
</div>