<!DOCTYPE html>

<html ng-app>
    <head>
        <title>Admin Information</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

        <!-- framework styles -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">        

        <!-- framework scripts -->
        <script src="@routes.Assets.at("js/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/angular-1.0.1.min.js")"></script>

        <!-- controllers -->
        <script src="@routes.Assets.at("js/MetricCtrl.js")" type="text/javascript"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                </div>
            </div>
        </div>   

        <div class="container" ng-controller="MetricCtrl">
            <div class="row">  
                <div> 
                    <h2>Node Health</h2>
                </div>
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <th>Node ID</th>
                        <th>Redis</th>
                        <th>Ping</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="check in health">
                            <td>
                                <button class="btn btn-danger" ng-click="clearMachine(check.machine)">
                                    <i class="icon-trash icon-white"></i> {{check.machine}}
                                </button>
                            </td>
                            <td style="vertical-align:middle">{{check.checkResults.RedisCheck.healthy}}</td>
                            <td style="vertical-align:middle">{{check.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div> 
                    <h2>Timing</h2>
                </div>
                <!--<form class="well form-search">
                  <button class="btn" ng-click="loadMetrics(); loadHealth()"><i class="icon-refresh"></i></button> -->
                <input type="text" class="input-medium search-query" ng-model="timerSearch" placeholder="Filter...">
                <!-- </form> -->
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                      <th ng-click="sortTimerBy('machine')">Node ID</th>
                      <th ng-click="sortTimerBy('name')">Timer Name</th>
                      <th ng-click="sortTimerBy('mean')">Mean</th>
                      <th ng-click="sortTimerBy('median')">Median</th>
                      <th ng-click="sortTimerBy('nfPercent')">95th Percentile</th>
                      <th ng-click="sortTimerBy('min')">Min</th>
                      <th ng-click="sortTimerBy('max')">Max</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="metric in metrics | filter:{'type': 'TIMER'} | filter:timerSearch | orderBy:timerSortField:timerSortOrder">
                            <td>{{metric.machine}}</td>
                            <td>{{metric.name}}</td>
                            <td>{{metric.mean}} <span class="metric-unit">({{metric.unit}})</span></td>
                            <td>{{metric.median}} <span class="metric-unit">({{metric.unit}})</span></td>
                            <td>{{metric.nfPercent}} <span class="metric-unit">({{metric.unit}})</span></td>
                            <td>{{metric.min}} <span class="metric-unit">({{metric.unit}})</span></td>
                            <td>{{metric.max}} <span class="metric-unit">({{metric.unit}})</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div> 
                    <h2>Meters</h2>
                </div>
                <input type="text" class="input-medium search-query" ng-model="meterSearch" placeholder="Filter...">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                      <th ng-click="sortMeterBy('machine')">Node ID</th>
                      <th ng-click="sortMeterBy('name')">Meter Name</th>
                      <th ng-click="sortMeterBy('count')">Count</th>
                      <th ng-click="sortMeterBy('meanRate')">Mean Rate</th>
                      <th ng-click="sortMeterBy('oneMinRate')">1 Minute Rate</th>
                      <th ng-click="sortMeterBy('fiveMinRate')">5 Minute Rate</th>
                      <th ng-click="sortMeterBy('fifteenMinRate')">15 Minute Rate</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="metric in metrics | filter:{'type': 'METER'} | filter:meterSearch | orderBy:meterSortField:meterSortOrder">
                            <td>{{metric.machine}}</td>
                            <td>{{metric.name}}</td>
                            <td>{{metric.count}}</td>
                            <td>{{metric.meanRate}}<span class="metric-unit">/{{metric.unit}}</span></td>
                            <td>{{metric.oneMinRate}}<span class="metric-unit">/{{metric.unit}}</span></td>
                            <td>{{metric.fiveMinRate}}<span class="metric-unit">/{{metric.unit}}</span></td>
                            <td>{{metric.fifteenMinRate}}<span class="metric-unit">/{{metric.unit}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
