@(env: com.github.drashid.config.Environment)

@import com.github.drashid.config.{Environment}

<!DOCTYPE html>

<html ng-app="admin">
    <head>
        <title>Admin Information</title>

        <script type="text/javascript">
            window.SYSTEM = {
                assetRoot: "@routes.Assets.at("")",
                environment: "@env"
            };
        </script>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

        <!-- dynamic module loading with requirejs -->    
        @if(env == Environment.DEVELOPMENT) {
            <script src="@routes.Assets.at("js/libs/require.js")" data-main="@routes.Assets.at("js/admin-main")"></script>
        } else {   
            <script src="@routes.Assets.at("r-build/js/libs/require.js")" data-main="@routes.Assets.at("r-build/js/admin-main")"></script>
        }

        <!-- styles -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">    
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/admin.css")">

    </head>
    <body>
        <div class="navbar navbar-fixed-top" ng-controller="AdminCtrl">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="{{navHealthActive}}">
                            <a href="#/health">Health</a>
                        </li>
                        <li class="{{navTimersActive}}">
                            <a href="#/timers">Timers</a>
                        </li>
                        <li class="{{navMetersActive}}">
                            <a href="#/meters">Meters</a>
                        </li>
                    </ul>
                    <p class="navbar-text pull-right">@env</p>
                </div>
            </div>
        </div>   

        <div class="container">
            <div ng-view></div>
        </div> 
    </body>
</html>
